jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
    - name: ⬆ Checkout
      uses: actions/checkout@v4.2.2
    - name: ✓ Install Nix
      uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: 'access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

          experimental-features = nix-command flakes impure-derivations auto-allocate-uids
          cgroups

          system-features = nixos-test benchmark big-parallel kvm recursive-nix

          download-buffer-size = 104857600

          accept-flake-config = true

          '
        nix_path: nixpkgs=channel:nixos-24.11
    - name: ✓ Install cachix action
      uses: cachix/cachix-action@v16
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        cachixArgs: --compression-method xz --compression-level 9 --jobs 4
        extraPullNames: cuda-maintainers, mic92, nix-community, nrdxp
        name: njk
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
    - name: Free space
      run: df -h
    - name: Configure git
      run: 'git config user.email "1203212+github-actions[bot]@users.noreply.github.com"

        git config user.name "github-actions[bot]"

        '
    - name: Update nvfetcher packages
      run: 'nix develop --accept-flake-config ''.#ci'' --command bash -c "GITHUB_TOKEN=${{
        secrets.GITHUB_TOKEN }} update-cell-sources ALL"

        git commit -am "deps(sources): Updated cell sources"

        '
    - name: Update flake.lock
      uses: DeterminateSystems/update-flake-lock@v28
      with:
        branch: auto/upgrade-dependencies
        commit-msg: 'deps(flake-lock): Updated flake.lock'
        pr-labels: 'dependencies

          automated

          '
        pr-title: '[Automated] Update ''flake.lock'' and sources'
    - if: ${{ failure() }}
      name: ✓ tmate.io session
      uses: mxschmitt/action-tmate@master
      with:
        connect-timeout-seconds: 600
        limit-access-to-actor: true
name: Update [flake.lock, nvfetcher sources]
'on':
  schedule:
  - cron: 0 0 * * 6
  workflow_dispatch: null
